<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dubidubi.dao.biliCosMapper">
    <resultMap id="BaseResultMap" type="cn.dubidubi.model.biliCos">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="img_pic" property="imgPic" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <cache type="org.mybatis.caches.redis.RedisCache" readOnly="true" />
    <sql id="Base_Column_List">
		id, user_id, user_name, title, img_pic, create_time
	</sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from bili_cos
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="save" parameterType="String">
		insert bili_cos(user_name)
		values(#{v});
	</insert>
</mapper>